<div class="wrapper">
  <div class="side-header">
  </div>
  <div class="side-bar">
    <%= render "side_bar" %>
     <input type="text" チャットを作成する>
  </div>

  <div class="chat">
    <div class="main-header">
    </div>

    <div class="main-chat">
      <%= render "main_chat" %>
    </div>

    <div class="main-footer">
    </div>
  </div>
</div>